.root{
    --pry:#b78338;
    --list:#2f1812;
}

html {
    scroll-behavior: smooth;
} 


body{
    background-color: #fff;
    color: rgb(0, 0, 0);
}
main{
    display: grid;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 600;
    font-style: bold;
    color: rgb(80, 79, 79);
}

header h2 {
    padding: 5px 10px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    border-radius: 1px solid red;
    border: 6px;
}

nav a{
    text-decoration: none;
    color: #747474;
    border-radius: 3px;
    padding: 7px;
    box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.48);
}




.home {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

span {
    color: #747474;
    font-size: 10px;
    font-weight: 400;
}

/* .hero-pic img{
    width: 200px;
    height: 220px;
    border-radius: 50%;
} */


#contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    justify-content: center;
}

form input{
    padding: 7px;
}

.form1 {
    margin-right: 30px;
}

.msg {
    text-align: center;
}

.submit{
    border: none;
    background-color: red;
    padding: 9px;
    border-radius: 30px;
    color: white;
    margin-right: 10px;
    margin-bottom: 5%;
    cursor: pointer;
    transition: 0.4s;
}

.submit:hover {
    background-color: green;
}

.footer {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.footer h2 {
    color: white;
}

.footer p {
    color: white;
}

.footer .fa-brands {
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.bottom {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    width: 100%;
}

.bottom p {
    color: white;
}

.bottom a {
    text-decoration: none;
    color: yellow;
    transition: 0.3s;
}

.bottom a:hover {
    color: white;
    text-decoration: underline;
}